<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<body>
 <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="#">Products</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="/organic">Organic Products</a></li>
                        <li><a href="/non_organic">Non-Oragnic Products</a></li>
                    </ul>
                </li>
                <li><a href="/certification">Certifications</a></li>
                <li class="active"><a href="/about">About US</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
            <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
                                {{!-- <li>Free Shipping for all Order of $99</li> --}}
                            </ul>
                        </div>
                        {{!-- <i class="fa fa-facebook"></i> <i class="fa fa-instagram"></i> <i class="fa fa-twitter"></i> <i class="fa fa-linkedin"></i>--}}
                    </div>
                    <div class="col-lg-6 col-md-6"> 
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                            <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
                            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                {{!-- <a href="#"><i class="fa fa-user"></i> Login</a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="#">Products</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/organic">Organic Products</a></li>
                                    <li><a href="/non_organic">Non-Oragnic Products</a></li>
                                </ul>
                            </li>
                            <li><a href="/certification">Certifications</a></li>
                            <li class="active"><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                {{!-- <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div> --}}
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- About Details Hero Begin -->
    <section class="blog-details-hero set-bg" data-setbg="img/blog/details/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__hero__text">
                        <h2>We are Celebration Holdings (Pvt) Ltd.</h2>
                        <ul>
                            <li>Malabe, Sri Lanka</li>
                            <li>+94 112 412521</li>
                            <li>info@celebrationholdings.lk</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Details Hero End -->


    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details set-bg " data-setbg="img/hero/vis.png" style="padding: 10px;border: 8px solid #1D8348 ;">
                        <div class="product__details__text" style="margin-left: 4%;margin-top:2%">
                            <div class="container">
                                <br>
                                <h3 style="color: white;font-family: Bahnschrift Light;">Our Vision</h3>
                                <p style="color: #F8F9F9 ;">" To become the most trusted companion for a healthy life "</p>
                              
                                <h3 style="color: white;font-family: Bahnschrift Light;">Our Mission</h3>
                                <p style="color: #F8F9F9 ;">To be the ultimate organic food and related exporter in Sri Lanka by 2025. </p>
                                
                                <h3 style="color: white;font-family: Bahnschrift Light;">Our Values</h3>
                                <li style="color: #F8F9F9 ;">Supply only high quality products.</li>
                                <li style="color: #F8F9F9 ;">Offers best value for money. </li>
                                <li style="color: #F8F9F9 ;">True fair trade across the value chain.</li>
                                <li style="color: #F8F9F9 ;">Absolute commitment for professionalism.</li>
                                <li style="color: #F8F9F9 ;">Divotion for sustainability & mother earth.</li>
                            </div>
                        
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 style="font-family: Bahnschrift Light;">Celebration Holdings</h3>
                    
                        <p>We are a newly established company by a bunch of multidisciplinary professionals who believes in 
                            partnering with customers all over the world who looks for quality and sustainable growth.</p>
                        
                        <a href="/pdf/Celebration_Holdings_CompanyProfile.pdf" download="newname" target="_blank" class="primary-btn" data-toggle="tooltip" data-placement="top" title="Download Profile">Download Company Profile <i class="fa fa-download fa-lg" aria-hidden="true"></i></a>
                        
                        <ul>
                            <li><b>Location </b> <span>Malabe, Sri Lanka.</span></li>
                            <li><b>E-mail</b> <span>info@celebrationholdings.lk</span></li>
                            <li><b>Telephone</b> <span>+94 112 412521</span></li>
                            <li><b>Mobile</b> <span>+94 774 245678</span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                                    <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                                    <a href="https://www.twitter.com/celebhold" target="_blank"><img src="img/icon/3.png"></a>
                                    <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true" style="font-family: Bahnschrift Light;">Our Story</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false" style="font-family: Bahnschrift Light;">Our Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false" style="font-family: Bahnschrift Light;">Quality Assurance</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h5><strong>Story</strong></h5>
                                    <br>
                                    <p>Celebration Holdings (Private) Ltd <strong>(CHL)</strong> was established in year 2016 by three young entrepreneurs
                                        who believed in becoming the ultimate global food brand in Sri Lanka.</p>
                                    <p>We take the pride in its dynamic and flexible solution provided to its well-known 
                                        international customer by supplying high quality, fresh and reliable products which are far
                                        beyond any standards.</p>
                                    <p>Our company backed and supported by a set of experienced and highly regarded suppliers
                                        in Sri Lanka who are carefully handpicked by the management of <strong>CHL</strong>. 
                                    </p>
                                    <p>We thrive our journey in excellence, joy and happiness across the borders.</p>
                                    <p><strong>-- We at CHL --</strong></p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h5><strong>Products Infomation</strong></h5>
                                    <br>
                                    <p><strong>CHL</strong> offers a wide range of products including organic / non-organic food
                                    and ingredients, natural drinks, recycled material and accessories, gardening products.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h5 ><strong>Quality</strong></h5>
                                    <br>
                                    <p><strong>CHL</strong> is an organic certified company.</p>
                                    <p>All of the products we supply are tested beyond the standards, 
                                        before they leave our doors and raw materials we source are carefully 
                                        handpicked by the experienced employees at <strong>CHL</strong>. </p>
                                    <p>We believe that quality is the unlimited importance which drives us
                                        above the competition.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->


    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2 style="font-family: Bahnschrift Light;">Product Range</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            
                            <h5 style="font-family: Bahnschrift Light;"><a href="#">Coconut Range</a></h5>
                            <p>Coconut tree is called "the Kapruka" in sinhalese which means the tree which provides everything you wish.</p>
                            <p>Our creamy expeller pressed organic coconut product are steamed refined without chemi.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            
                            <h5 style="font-family: Bahnschrift Light;"><a href="#">Spice Range</a></h5>
                            <p>Sri Lanka is gifted with the rich spices heritage which gives you the authentic and unmatched taste and fragrance.</p>
                            <p>The ultimate culinary combinations which inspires your taste buds.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            
                            <h5 style="font-family: Bahnschrift Light;"><a href="#">Dried Fruits Range</a></h5>
                            <p>While preserving the taste and color of the juicy Sri Lankan fruits, you can have just real, live fruit in all its glory.
                                Flovors that will make your mouth water & your heart sing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/4.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            
                            <h5 style="font-family: Bahnschrift Light;"><a href="#">Fruit Juice Range</a></h5>
                            <p>Our 100% pure-squeezed fruit juice has a lot to offer in addition to its great freshness & taste.</p>
                            <p>We make it easy to taste freshly grown delicious tropical fruits. Our passion is to share what we enjoy everyday on the farm and field.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/5.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            
                            <h5 style="font-family: Bahnschrift Light;"><a href="#">Essential Oil Range</a></h5>
                            <p>Live a healthier, & a happier life with the therapeutic aroma of pure essential oils.</p>
                            <p>At <strong>CHL</strong>, we source the best essential oils directly from farms around the world, 
                            giving you the ultimate pleasure of aromatherapy right at your home. </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/6.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            
                            <h5 style="font-family: Bahnschrift Light;"><a href="#">Recycled Range</a></h5>
                            <p>Use it and Throw it ? A big <strong>NO</strong> to throw away recyclablematerials & leftover.
                            </p>
                            <p>Our home, ade recucled range reassures that the mother earth is carefully preserved. It's common cause. Join us hand in hand to treat the earth in a better way.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/7.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            
                            <h5 style="font-family: Bahnschrift Light;"><a href="#">Gardening Range</a></h5>
                            <p>Whether you're tending traditional shrub & tree foundation plantings or your version of a 
                                Victory Garden vegetable patch, you need a wheelbarrow or garden cart.
                            </p>
                            <p>We are there to help you out with correct supplies specially for miniature gardens & greenhouses.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->

<!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <h5><strong><a href="/index">CELEBRATION HOLDINGS</a></strong></h5>
                        </div>
                        <ul>
                            <li><strong>Address:</strong> 130/20A, Fantasy Garden, Kahantota rd, Malabe, 10115, Sri Lanka. </li>
                            <li><strong>Phone:</strong> +94 112 412521</li>
                            <li><strong>Mobile:</strong> +94 774 245678</li>
                            <li><strong>Email:</strong> info@celebrationholdings.lk</li>
                            <li><strong>Web :</strong> www.celebrationholdings.lk</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/certification">Certification</a></li>
                            
                        </ul>
                        <ul>
                            <li><a href="/privacy_policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                            <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
                            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 
  Solution by <a href="https://www.facebook.com/dilanrogers.ediriweera.9" target="_blank">Diumotics Software Solutions</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        {{!-- <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div> --}}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->




<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

<script>
jQuery(document).ready(function() {
  var downloadButton = jQuery('.primary-btn');
    
  downloadButton.each(function(index) {
    jQuery(this).attr('download', '');
  });
});
</script>

</body>