<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<body>
 <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="#">Products</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="/organic">Organic Products</a></li>
                        <li><a href="/non_organic">Non-Oragnic Products</a></li>
                    </ul>
                </li>
                <li><a href="/certification">Certifications</a></li>
                <li><a href="/about">About US</a></li>
                <li class="active"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
            <a href="https://www.twitter.com/celebhold" target="_blank"><img src="img/icon/3.png"></a>
            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
            </ul>
        </div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
                                {{!-- <li>Free Shipping for all Order of $99</li> --}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                            <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
                            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                {{!-- <a href="#"><i class="fa fa-user"></i> Login</a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="#">Products</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/organic">Organic Products</a></li>
                                    <li><a href="/non_organic">Non-Oragnic Products</a></li>
                                </ul>
                            </li>
                            <li><a href="/certification">Certifications</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li class="active"><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                {{!-- <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div> --}}
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section pic set-bg" data-setbg="img/hero/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Contact Us</h2>
                        <div class="breadcrumb__option">
                            <a href="/index">Home</a>
                            <span>Contact Us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Phone</h4>
                        <p>+94 112 412521</p>
                        <p>+94 774 245678</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Address</h4>
                        <p>130/20A, Fantasy Garden, Kahantota rd, Malabe, 10115, Sri Lanka.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Open time</h4>
                        <p>24/7 Time</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>info@celebrationholdings.lk</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

<!-- Map Begin -->
    <div class="map">
        <iframe
            src="https://maps.google.com/maps?q=%20malabe&t=&z=13&ie=UTF8&iwloc=&output=embed"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Malabe, Sri Lanka</h4>
                <ul>
                    <li>Phone: +94 112 412521</li>
                    <li>Address: 130/20A, Fantasy Garden, Kahantota rd, Malabe</li>
                </ul>
            </div>
        </div>
    </div>
<!-- Map End -->

<!-- Contact Form Begin -->
    <div class="contact-form spad">
        
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="contact__form__title">
                            <h2 style="font-family: Bahnschrift Light;">Leave Message</h2>
                        </div>
                    </div>
                </div>
                
               {{!-- action="contact/send" method="POST" --}}
                <form id="contact-form"> 
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <input type="text"  id="name" placeholder="Your name" name="name">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <input type="email" id="email" placeholder="Your Email" name="email">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" id="sub" placeholder="Enter Subject" name="subj">
                        </div>
                        <div class="col-lg-12 text-center">
                            <textarea  placeholder="Your message" id="msg" name="message"></textarea>
                            <button type="submit" class="site-btn">SEND MESSAGE</button>
                        </div>
                    </div>
                </form>
            </div>
      
    </div>
<!-- Contact Form End -->

<!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <h5><strong><a href="/index">CELEBRATION HOLDINGS</a></strong></h5>
                        </div>
                        <ul>
                            <li><strong>Address:</strong> 130/20A, Fantasy Garden, Kahantota rd, Malabe, 10115, Sri Lanka. </li>
                            <li><strong>Phone:</strong> +94 112 412521</li>
                            <li><strong>Mobile:</strong> +94 774 245678</li>
                            <li><strong>Email:</strong> info@celebrationholdings.lk</li>
                            <li><strong>Web :</strong> www.celebrationholdings.lk</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                        <ul>
                            <li><a href="/about">Who We Are</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/certificate">Certification</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                            <a href="https://www.twitter.com/celebhold" target="_blank"><img src="img/icon/3.png"></a>
                            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
Solution by <a href="https://www.facebook.com/dilanrogers.ediriweera.9" target="_blank">Diumotics Software Solutions</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        {{!-- <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div> --}}
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Section End -->

<script>
    $(function() {
    $('#contact-form').on('submit', function(event) {
        event.preventDefault();
        let name = $('input[name="name"]').val(),
        email = $('input[name="email"]').val(),
        message = $('textarea[name="message"]').val();

        $.ajax({
        url: '/',
        method: "POST",
        contentType: 'application/json',
        data: JSON.stringify({
            name,
            email,
            message
        }),
        success: function(response) {
            console.log(data);
        },
        fail: function(error) {
            console.log(error);
        }
        });
    });
    });
</script>


<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>


		


</body>