<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<body>

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="/index">Home</a></li>
                <li class="active"><a href="#">Products</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="/organic">Organic Products</a></li>
                        <li><a href="/non_organic">Non-Oragnic Products</a></li>
                    </ul>
                </li>
                <li><a href="/certification">Certifications</a></li>
                <li><a href="/about">About US</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
            <a href="https://www.twitter.com/celebhold" target="_blank"><img src="img/icon/3.png"></a>
            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
                                {{!-- <li>Free Shipping for all Order of $99</li> --}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                            <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
                            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                {{!-- <a href="#"><i class="fa fa-user"></i> Login</a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li class="active"><a>Products</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/organic">Organic Products</a></li>
                                    <li><a href="/non_organic">Non-Oragnic Products</a></li>
                                </ul>
                            </li>
                            <li><a href="/certification">Certifications</a></li>
                            <li><a href="/about">About US</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                {{!-- <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div> --}}
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Products</span>
                        </div>
                        <ul>
                            <li><strong>Organic Products </strong>
                                <ul>
                                    <li><a href="/product_coconut">Coconut products</a></li>
                                    <li ><a href="/product_dehydrated">Dehydrated Fruits</a></li>
                                    <li><a href="/product_canned">Canned Foods</a></li>
                                    <li><a href="/product_spice">Spices & Herbs</a></li>
                                    <li> <a href="/product_juice">Fruit Juice</a></li>
                                </ul>
                            </li>
                            <li> <strong>  Non-Organic Products</strong>
                                <ul>                         
                                    <li><a href="/product_essential">Essential Oil</a></li>
                                    <li><a href="/product_recy">Recycled Products</a></li>
                                    <li><a href="/product_gardning">Gardening Products</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Products
                                    {{!-- <span class="arrow_carrot-down"></span> --}}
                                </div>
                                <input type="text" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+94 112 412521</h5>
                                <h5>+94 774 245678</h5>
                            </div>
                        </div>
                    </div>

                    <div class="slideshow-container">
                        <div class="hero__item set-bg " data-setbg="img/organic/2.png">
                            <div class="hero__text">
                                <br><br><br><br><br>
                                <span  style="color: white;">CELEBRATION HOLDINGS</span>
                                <h2  style="color: white;">WelCome !</h2>
                                {{!-- <p>Pickup and Delivery Available</p> --}}
                                {{!-- <a href="/shop" class="primary-btn">SHOP NOW</a> --}}
                            </div>
                        </div>
                        <div class="hero__item set-bg" data-setbg="img/organic/coco.jpg">
                            <div class="hero__text" style="color: white;">
                                <br><br><br><br><br>
                                <span  style="color: white;">CELEBRATION HOLDINGS</span>
                                <h2  style="color: white;">WelCome !</h2>
                                {{!-- <p>Pickup and Delivery Available</p> --}}
                                {{!-- <a href="/shop" class="primary-btn">SHOP NOW</a> --}}
                            </div>
                        </div>
                        <div class="hero__item set-bg" data-setbg="img/organic/dry.jpg">
                            <div class="hero__text">
                                <br><br><br><br><br>
                                <span>CELEBRATION HOLDINGS</span>
                                <h2>WelCome !</h2>
                                {{!-- <p>Pickup and Delivery Available</p> --}}
                                {{!-- <a href="/shop" class="primary-btn">SHOP NOW</a> --}}
                            </div>
                        </div>
                        <div class="hero__item set-bg" data-setbg="img/organic/spice.jpg">
                            <div class="hero__text" style="color: white;">
                                <br><br><br><br><br>
                                <span  style="color: white;">CELEBRATION HOLDINGS</span>
                                <h2  style="color: white;">WelCome !</h2>
                                {{!-- <p>Pickup and Delivery Available</p> --}}
                                {{!-- <a href="/shop" class="primary-btn">SHOP NOW</a> --}}
                            </div>
                        </div>
                        <div class="hero__item set-bg" data-setbg="img/organic/juice.jpg">
                            <div class="hero__text" style="color: white;">
                                <br><br><br><br><br>
                                <span  style="color: white;">CELEBRATION HOLDINGS</span>
                                <h2  style="color: white;">WelCome !</h2>
                                {{!-- <p>Pickup and Delivery Available</p> --}}
                                {{!-- <a href="/shop" class="primary-btn">SHOP NOW</a> --}}
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

<hr>

    <!-- Categories Section Begin -->
    <section class="oragnic_pro">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <h5><a href="/product_coconut"><img src="img/blog/1.jpg" alt=""></a>
                        </div>
                        <div class="blog__item__text">
                            <h5 style="font-family: Bahnschrift Light;"><a href="/product_coconut">Coconut Products</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <a href="/product_dehydrated"><img src="img/blog/3.jpg" alt=""></a>
                        </div>
                        <div class="blog__item__text">
                            <h5 style="font-family: Bahnschrift Light;"><a href="/product_dehydrated">Dehydrated Fruits</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <a href="/product_canned"><img src="img/blog/8.jpg" alt=""></a>
                        </div>
                        <div class="blog__item__text">
                            <h5 style="font-family: Bahnschrift Light;"><a href="/product_canned">Canned Foods</a></h5>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6"> </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                           <a href="/product_spice"><img src="img/blog/2.jpg" alt=""></a> 
                        </div>
                        <div class="blog__item__text">
                            <h5 style="font-family: Bahnschrift Light;"><a href="/product_spice">Spice & Herbs</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <a href="/product_juice"><img src="img/blog/4.jpg" alt=""></a>
                        </div>
                        <div class="blog__item__text">   
                            <h5 style="font-family: Bahnschrift Light;"><a href="/product_juice">Fruit Juice</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6"></div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <h5><strong><a href="/index">CELEBRATION HOLDINGS</a></strong></h5>
                            {{!-- <a href="/index"><img src="img/logo.png" alt=""></a> --}}
                        </div>
                        <ul>
                            <li><strong>Address:</strong> 130/20A, Fantasy Garden, Kahantota rd, Malabe, 10115, Sri Lanka. </li>
                            <li><strong>Phone:</strong> +94 112 412521</li>
                            <li><strong>Mobile:</strong> +94 774 245678</li>
                            <li><strong>Email:</strong> info@celebrationholdings.lk</li>
                            <li><strong>Web :</strong> www.celebrationholdings.lk</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                        <ul>
                            <li><a href="/about">Who We Are</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/certificate">Certification</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                            <a href="https://www.twitter.com/celebhold" target="_blank"><img src="img/icon/3.png"></a>
                            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
   Solution by <a href="https://www.facebook.com/dilanrogers.ediriweera.9" target="_blank">Diumotics Software Solutions</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        {{!-- <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div> --}}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
        var i;
        var slides = document.getElementsByClassName("hero__item");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        slides[slideIndex-1].style.display = "block";  
        setTimeout(showSlides, 6000); 
        }
    </script>
</body>


