<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/nice-select.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="#">Products</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="/organic">Organic Products</a></li>
                        <li><a href="/non_organic">Non-Oragnic Products</a></li>
                    </ul>
                </li>
                <li class="active"><a href="/certification">Certifications</a></li>
                <li><a href="/about">About US</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
            <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
            </ul>
        </div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> info@celebrationholdings.lk</li>
                                {{!-- <li>Free Shipping for all Order of $99</li> --}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                                <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                                <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
                                <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                {{!-- <a href="#"><i class="fa fa-user"></i> Login</a> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/index"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="#">Products</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/organic">Organic Products</a></li>
                                    <li><a href="/non_organic">Non-Oragnic Products</a></li>
                                </ul>
                            </li>
                            <li><a href="/certification">Certifications</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->


<section class="primary-content kfcms pb-4">
        <div class="container pt-sm-5 mt-2 pb-5 w-1440 shrink">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center" style="font-family: Bahnschrift Light;">Privacy Policy</h1>
                    <div class="px-0 pt-5">
                        <!-- leave this for padding puprpose -->
                    </div>
                    <ul style="font-family: Bahnschrift Light;">
                        <h5 style="text-align: justify;font-family: Bahnschrift Light;">Last updated: September 29, 2020</h5>
                        <br>
                        <p style="text-align: justify;">This Privacy Policy describes Our policies and procedures on the collection, use 
                            and disclosure of Your information when You use the Service and tells You about Your privacy rights and how 
                            the law protects You.</p>

                        <p style="text-align: justify;">We use Your Personal data to provide and improve the Service. By using the Service, 
                            you agree to the collection and use of information in accordance with this Privacy Policy.</p>
                        <br>
                        <h3 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Interpretation and Definitions</h3>
                        <br>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Interpretation</h4>
                        {{!-- <br> --}}
                        <p style="text-align: justify;">The words of which the initial letter is capitalized have meanings defined under the 
                            following conditions. The following definitions shall have the same meaning regardless of whether they appear in 
                            singular or in plural.</li>
                        <br>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Definitions</h4>
                        {{!-- <br> --}}
                        <p style="text-align: justify;">For the purposes of this Privacy Policy:</p>
                        
                        <li style="text-align: justify;margin-left:4%"><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Company</strong> (referred to as either "the Company", "We", "Us" or "Our" in this Agreement) refers to 
                            Celebration Holdings (Pvt) Ltd, 130/20A, Fantasy Garden, Kahantota Road, Malabe, 10115, Sri Lanka.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Cookies</strong> are small files that are placed on Your computer, mobile device or any other device by 
                            a website, containing the details of Your browsing history on that website among its many uses.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Country</strong> refers to: Sri Lanka</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Service</strong> refers to the Website.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers 
                            to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of 
                            the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Third-party Social Media Service</strong> refers to any website or any social network website through which a User 
                            can log in or create an account to use the Service.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the
                             Service infrastructure itself (for example, the duration of a page visit).</li>
                        <li style="text-align: justify;margin-left:4%"><strong>Website</strong> refers to Celebration Holdings, accessible from <u>https://celebrationholdings.lk</u></li>
                        <li style="text-align: justify;margin-left:4%"><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on 
                            behalf of which such individual is accessing or using the Service, as applicable.</li>
                        <br>
                        <h3 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Collecting and Using Your Personal Data</h3>
                        <br>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Types of Data Collected</h4>
                        <br>
                        <h5 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Personal Data</h5>
                        <p style="text-align: justify;">While using Our Service, we may ask You to provide Us with certain personally identifiable information that can be used to 
                            contact or identify You. Personally identifiable information may include, but is not limited to:</p>
                        <li style="text-align: justify;margin-left:4%">Email address</li>
                        <li style="text-align: justify;margin-left:4%">First name and last name</li>
                        <li style="text-align: justify;margin-left:4%">Usage Data</li>
                        <br>
                        <h5 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Usage Data</h5>
                        <p style="text-align: justify;">Usage Data is collected automatically when using the Service.</p>
                        <p style="text-align: justify;">Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser 
                            version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other 
                            diagnostic data.</p>
                        <p style="text-align: justify;">When You access the Service by or through a mobile device, We may collect certain information automatically, 
                            including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your 
                            mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
                        <p style="text-align: justify;">We may also collect information that Your browser sends whenever You visit our Service or when 
                            You access the Service by or through a mobile device.</p>
                        <br>
                        <h5 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Tracking Technologies and Cookies</h5>
                        <p style="text-align: justify;">We use Cookies and similar tracking technologies to track the activity on Our Service and store certain information. 
                            Tracking technologies used are beacons, tags, and scripts to collect and track information and to improve and analyze Our 
                            Service.</p>
                        <p style="text-align: justify;">You can instruct Your browser to refuse all Cookies or to indicate when a Cookie is being sent. However, 
                            if You do not accept Cookies, you may not be able to use some parts of our Service.</p>
                        <p style="text-align: justify;">Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies remain on your personal 
                            computer or mobile device when You go offline, while Session Cookies are deleted as soon as You close your web browser. 
                            Learn more about cookies: <u>All About Cookies</u>.</p>
                        <p style="text-align: justify;">We use both session and persistent Cookies for the purposes set out below:</p>
                        <li style="text-align: justify;font-weight:bold;margin-left:4%">Necessary / Essential Cookies</li>
                        <p style="text-align: justify;margin-left:4%">Type: Session Cookies</p>
                        <p style="text-align: justify;margin-left:4%">Administered by: Us</p>
                        <p style="text-align: justify;margin-left:4%">Purpose: These Cookies are essential to provide You with services available 
                            through the Website and to enable You to use some of its features. They help to authenticate users and 
                            prevent fraudulent use of user accounts. Without these Cookies, the services that You have asked for cannot 
                            be provided, and We only use these Cookies to provide You with those services.</p>
                        <li style="text-align: justify;font-weight:bold;margin-left:4%">Cookies Policy / Notice Acceptance Cookies</li>
                        <p style="text-align: justify;margin-left:4%">Type: Persistent Cookies</p>
                        <p style="text-align: justify;margin-left:4%">Administered by: Us</p>
                        <p style="text-align: justify;margin-left:4%">Purpose: These Cookies identify if users have accepted the use of cookies on the Website.</p>
                        <li style="text-align: justify;font-weight:bold;margin-left:4%">Functionality Cookies</li>
                        <p style="text-align: justify;margin-left:4%">Type: Persistent Cookies</p>
                        <p style="text-align: justify;margin-left:4%">Administered by: Us</p>
                        <p style="text-align: justify;margin-left:4%">Purpose: These Cookies allow us to remember choices You make when You use the Website, 
                            such as remembering your login details or language preference. The purpose of these Cookies is to provide You with 
                            a more personal experience and to avoid You having to re-enter your preferences every time You use the Website.</p>
                        <p style="text-align: justify;">For more information about the cookies we use and your choices regarding cookies, please 
                            visit our Cookies Policy or the Cookies section of our Privacy Policy.</p>
                        <br>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Use of Your Personal Data</h4>
                        <p style="text-align: justify;">The Company may use Personal Data for the following purposes:</p>
                        <li style="text-align: justify;margin-left:4%"><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</li>
                        <p></p>
                        <p style="text-align: justify;">We may share your personal information in the following situations:</p>
                        <li style="text-align: justify;margin-left:4%"><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service, to contact You.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>For Business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of our business to another company.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>With Business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
                        <li style="text-align: justify;margin-left:4%"><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, communicate with You and view Your profile.</li>
                        <br>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Retention of Your Personal Data</h4>
                        <p style="text-align: justify;">The Company will retain Your Personal Data only for as long as is necessary 
                            for the purposes set out in this Privacy Policy. We will retain and use Your Personal Data to the extent 
                            necessary to comply with our legal obligations (for example, if we are required to retain your data to comply 
                            with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
                        <p style="text-align: justify;">The Company will also retain Usage Data for internal analysis purposes. Usage 
                            Data is generally retained for a shorter period of time, except when this data is used to strengthen the 
                            security or to improve the functionality of Our Service, or We are legally obligated to retain this data for 
                            longer time periods.</p>
                        <br>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Transfer of Your Personal Data</h4>
                        <p style="text-align: justify;">Your information, including Personal Data, is processed at the Company's operating 
                            offices and in any other places where the parties involved in the processing are located. It means that this 
                            information may be transferred to — and maintained on — computers located outside of Your state, province, 
                            country or other governmental jurisdiction where the data protection laws may differ than those from Your jurisdiction.</p>
                        <p style="text-align: justify;">Your consent to this Privacy Policy followed by Your submission of such information 
                            represents Your agreement to that transfer.</p>
                        <p style="text-align: justify;">The Company will take all steps reasonably necessary to ensure that Your data is 
                            treated securely and in accordance with this Privacy Policy and no transfer of Your Personal Data will take 
                            place to an organization or a country unless there are adequate controls in place including the security of 
                            Your data and other personal information.</p>
                        <br>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Disclosure of Your Personal Data</h4>
                        <p></p>
                        <h5 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Business Transactions</h5>
                        <p style="text-align: justify;">If the Company is involved in a merger, acquisition or asset sale, Your Personal 
                            Data may be transferred. We will provide notice before Your Personal Data is transferred and becomes subject 
                            to a different Privacy Policy.</p>
                        <p></p>
                        <h5 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Law enforcement</h5>
                        <p style="text-align: justify;">Under certain circumstances, the Company may be required to disclose Your Personal 
                            Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
                        <p></p>
                        <h5 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Other legal requirements</h5>
                        <p style="text-align: justify;">The Company may disclose Your Personal Data in the good faith belief that such action 
                            is necessary to:</p>
                        <li style="text-align: justify;margin-left:4%">Comply with a legal obligation</li>
                        <li style="text-align: justify;margin-left:4%">Protect and defend the rights or property of the Company</li>
                        <li style="text-align: justify;margin-left:4%">Prevent or investigate possible wrongdoing in connection with the Service</li>
                        <li style="text-align: justify;margin-left:4%">Protect the personal safety of Users of the Service or the public</li>
                        <li style="text-align: justify;margin-left:4%">Protect against legal liability</li>
                        <p></p>
                        <h4 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Security of Your Personal Data</h4>
                        <p style="text-align: justify;">The security of Your Personal Data is important to us but remember that no method of 
                            transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use 
                            commercially acceptable means to protect Your Personal Data, we cannot guarantee its absolute security.</p>
                        <br>
                        <h3 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Links to Other Websites</h3>
                        <p style="text-align: justify;">Our Service may contain links to other websites that are not operated by Us. 
                            If You click on a third-party link, you will be directed to that third party's site. We strongly advise 
                            You to review the Privacy Policy of every site You visit.</p>
                            <p style="text-align: justify;">We have no control over and assume no responsibility for the content, 
                                privacy policies or practices of any third-party sites or services.</p>
                        <br>
                        <h3 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Changes to this Privacy Policy</h3>
                        <p style="text-align: justify;">We may update our Privacy Policy from time to time. We will notify You of any 
                            changes by posting the new Privacy Policy on this page.</p>
                        <p style="text-align: justify;">We will let You know via email and/or a prominent notice on Our Service, prior to 
                            the change becoming effective and update the "Last updated" date at the top of this Privacy Policy.</p>
                        <p style="text-align: justify;">You are advised to review this Privacy Policy periodically for any changes. Changes 
                            to this Privacy Policy are effective when they are posted on this page.</p>
                        <br>
                        <h3 style="text-align: justify;font-weight:bold;font-family: Bahnschrift Light;">Contact Us</h3>
                        <p style="text-align: justify;">If you have any questions about this Privacy Policy, you can contact us:</p>
                        <li style="text-align: justify;margin-left:4%">By email: info@celebrationholdings.lk</li>
                        <br>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    



<!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <h5><strong><a href="/index">CELEBRATION HOLDINGS</a></strong></h5>
                        </div>
                        <ul>
                            <li><strong>Address:</strong> 130/20A, Fantasy Garden, Kahantota rd, Malabe, 10115, Sri Lanka. </li>
                            <li><strong>Phone:</strong> +94 112 412521</li>
                            <li><strong>Mobile:</strong> +94 774 245678</li>
                            <li><strong>Email:</strong> info@celebrationholdings.lk</li>
                            <li><strong>Web :</strong> www.celebrationholdings.lk</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                            <li><a href="/certification">Certification</a></li>
                            
                        </ul>
                        <ul>
                            <li><a href="/privacy_policy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <br><br>
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your email">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/celebrationholdings/" target="_blank"><img src="img/icon/1.png"></a>
                            <a href="https://www.instagram.com/celebrationholdings/" target="_blank"><img src="img/icon/2.png"></a>
                            <a href="https://www.twitter.com/celebhold" target="_blank"></i><img src="img/icon/3.png"></a>
                            <a href="https://www.linkedin.com/in/celebrationholdings" target="_blank"><img src="img/icon/4.png"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |
   Solution by <a href="https://www.facebook.com/dilanrogers.ediriweera.9" target="_blank">Diumotics Software Solutions</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        {{!-- <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div> --}}
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer Section End -->




<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>


</body>
 